body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul.menu {
    display: flex;
    justify-content: center;
}

header nav ul li {
    position: relative;
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    display: block;
    transition: color 0.3s; /* Плавный переход цвета текста */
}

header nav ul li a:hover {
    color: gray; /* Цвет текста при наведении */
}

header nav ul li a.booking-btn {
    background-color: red;
    padding: 0.5em 1em;
    border-radius: 4px;
}

header nav ul li a.booking-btn:hover {
    background-color: darkred;
}

header nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавный переход для opacity и visibility */
}

header nav ul li .dropdown-content a {
    padding: 1em;
    text-align: left;
}

header nav ul li:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}

section {
    padding: 2em;
    border-bottom: 1px solid #ccc;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

.room {
    margin-bottom: 2em;
}

form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5em;
}

form input, form select {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#voiceAssistantBtn, #backToHomeBtn {
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

#voiceAssistantBtn:hover, #backToHomeBtn:hover {
    background-color: #e64a19;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}
#voiceAssistantBtn {
    right: 180px; 
}

#backToHomeBtn {
    left: 20px;
}